<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- ui-router library -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <title>catstagram</title>

  </head>
  <body ng-app="catstagram">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">catstagram</a>
        </div>
      </div>
    </nav>

    <div class="main" ng-controller="MainController">
      <div class="container">

        <form class="form-horizontal" ng-submit="addPost()">
          <fieldset>
            <legend>Add a Cat</legend>
            <div class="form-group">
              <label for="catUrl" class="col-lg-2 control-label">Cat Url</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="url">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" ng-model="postContent"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>

        <br><br>

        <div class="panel panel-primary" ng-repeat="post in posts">
          <!-- <cat-info info="cat"></cat-info> -->

          <div class="panel-heading">
            <h3 class="panel-title">{{ post.username }}</h3>
          </div>
          <div class="panel-body">
            <img ng-src="{{ post.url }}" />
            <p class="likes">{{ post.likes }} <span class="glyphicon glyphicon-heart"></span></p>
            <p class="postContent">{{ post.postContent }}</p>
            <span class="btn btn-info" ng-click="addLike($index)">Like</span>
            <a href="#" class="btn btn-info">Comment</a>
          </div>
        </div>

      </div>
    </div>

    <!-- Modules -->
    <script src="js/application.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <!-- <script src="js/directives/catInfo.js"></script> -->

    <!-- Services -->
    <script src="js/services/posts.js"></script>

  </body>
</html>
